<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977664204892-hecnkk89jsosqhqtl1vf886i1uncil4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977664204892-hecnkk89jsosqhqtl1vf886i1uncil4q</string>
	<key>API_KEY</key>
	<string>AIzaSyCqOhkgSjkolKZA-NNzM7Yje4jgREwDjH4</string>
	<key>GCM_SENDER_ID</key>
	<string>977664204892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pepcornsllp</string>
	<key>PROJECT_ID</key>
	<string>pepcorns-d96fe</string>
	<key>STORAGE_BUCKET</key>
	<string>pepcorns-d96fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977664204892:ios:67bfabb86687f26de80699</string>
</dict>
</plist>